#mor
{
    /*border: 1px solid red;*/
    margin: auto;
    height: 2050px;
    width: 1200px;
    margin-top: 10px;
    
}
#det1
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-left: 40px;
    
    
}

#det2
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
}


#det3
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
}


#det4
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det5
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 40px;
}


#det6
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}

#det7
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det8
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}



#det9
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 40px;
}


#det10
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det11
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det12
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det13
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 40px
}


#det14
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det15
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}


#det16
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}

/*
#det17
{
    /*border: 1px solid blue;*/
    min-height: 500px;
    width: 23%;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
}

*/